
<div class="content">
    <h2>Append new element</h2>
    <button class="js-add-btn">
        <div class="btn__label">Add a new button.btn</div>
    </button>
    <h2>with sub-content</h2>
    <div class="btn-list">
        <button class="btn btn--full">
            <div class="btn__icon">
                <div class="fake-icon"></div>
            </div>
            <div class="btn__label">Button with inner markup</div>
        </button>
        <button class="btn btn--direct">
            <div class="btn__label">Direct event</div>
        </button>
        <button class="btn btn--ned">
            <div class="btn__label">Ned Event</div>
        </button>
        <form action="?" class="myForm">
            <input type="hidden" name="plop" value="sent">
            <button type="submit">submit</button>
        </form>
    </div>
</div>
<div class="content">
    <h2>Append new element</h2>
    <button class="js-add-btn">
        <div class="btn__label">Add a new button.btn</div>
    </button>
    <h2>with sub-content</h2>
    <div class="btn-list">
        <button class="btn btn--full">
            <div class="btn__icon">
                <div class="fake-icon"></div>
            </div>
            <div class="btn__label">Button with inner markup</div>
        </button>
        <button class="btn btn--direct">
            <div class="btn__label">Direct event</div>
        </button>
        <button class="btn btn--ned">
            <div class="btn__label">Ned Event</div>
        </button>
        <form action="?" class="myForm">
            <input type="hidden" name="plop" value="sent">
            <button type="submit">submit</button>
        </form>
    </div>
</div>
<div class="nav">
    <h2>Append new element</h2>
    <button class="js-add-btn">
        <div class="btn__label">Add a new button.btn</div>
    </button>
    <h2>with sub-content</h2>
    <div class="btn-list">
        <button class="btn btn--full">
            <div class="btn__icon">
                <div class="fake-icon"></div>
            </div>
            <div class="btn__label">Button with inner markup</div>
        </button>
        <button class="btn btn--direct">
            <div class="btn__label">Direct event</div>
        </button>
        <button class="btn btn--ned">
            <div class="btn__label">Ned Event</div>
        </button>
        <form action="?" class="myForm">
            <input type="hidden" name="plop" value="sent">
            <button type="submit">submit</button>
        </form>
    </div>
</div>

<div class="section--with-ned">
    <button class="btn btn--delegated"><span>delegated</span></button>
    <button class="btn btn--direct"><span>direct</span></button>
    <button class="btn btn--delegated"><span>delegated</span></button>
    <button class="btn btn--direct"><span>direct</span></button>
</div>
<div class="section--without-ned">
    <button class="btn btn--delegated"><span>delegated</span></button>
    <button class="btn btn--direct"><span>direct</span></button>
</div>